<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="insightsAppender" type="ApplicationInsights.Log4Net.InsightsAppender, ApplicationInsights.Log4Net">
    <InstrumentationKey>222a04c8-0b93-4481-9563-1eade7a2ab61</InstrumentationKey>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="insightsAppender" />
  </root>
</log4net>